
body {
    background-color: rgb(211, 241, 231);
}
.fieldset {
    background-image: url(/img/avto7.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
